.cta_div{
    width: 100%;
    height: 100%;
}
.cta_div .contents_wrap{
    position: relative;
    width: inherit;
    height: inherit;
}
.cta_div .contents_wrap .box{
    position: absolute;
    width: 30%;
    min-height: 100px;

    display: flex;
}

.cta_div .contents_wrap .box  .img_div{
    width: 30%;
}
.cta_div .contents_wrap .box  .img_div .img{
    width: 100%;
    height: 40%;
   color: var(--primary-color);
}
.cta_div .contents_wrap .box  .content{
    flex: 1;
}
.cta_div .contents_wrap .box  .content h3,
.cta_div .contents_wrap .box  .content p{
    width: 100%;
    text-align: center;
}
.cta_div .contents_wrap .box  .content h3{
    margin-bottom: 8px;
    text-transform: capitalize;
}
.cta_div .contents_wrap .box.up{
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.cta_div .contents_wrap .box.down{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.cta_div .contents_wrap .box.left{
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.cta_div .contents_wrap .box.right{
    top: 50%;
    right: 0; 
    transform: translateY(-50%);
}
.cta_div .contents_wrap .box.center{
    display: block;
    text-align: center;
    top: 48%; 
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.cta_div .contents_wrap .box.center h3{
    text-transform: uppercase;
    padding: 0 5px;
    font-size: 1.4rem;
    color: var(--primary-color);
}
.cta_div .contents_wrap .box.center a{
    margin-top: 15px;
    text-transform: capitalize;
    color: var(--fourth-color);
    padding: 15px 20px;
    background-color: var(--secondary-color);
    border: 0;
    filter: drop-shadow(0px 5px 1px rgba(0,0 , 0, .25) );
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cta_div .contents_wrap .box.center a img{
    width: 10%;
    object-fit: cover;
}
@media (min-width: 320px) and (max-width: 480px){
    .cta_div .contents_wrap .box.center h3{
        padding: 0 0;
        font-size: .9rem;
    }
    .cta_div .contents_wrap .box.center a{
        margin-top: 10px;
        padding: 10px 10px;
    }

}