.project_images  .slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.project_images .slider .slides{
    width: 180%;
    height: 100%;

    display: flex;
    grid-gap: .5%;
}
.project_images .slider .slides img{
   width: 30%;
   height: 100%;
   object-fit: cover;
}