.project_images  .slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.project_images .slider .slides{
    position: relative;
    left: 0;
    width: 300%;
    height: 100%;

    display: flex;
    grid-gap: .2%;
}
.project_images .slider .slides img{
   width: 20%;
   max-width: 20%;
   height: 100%;
   object-fit: cover;
}
.project_images .slider .slides img:hover{
  filter: brightness(50%);
 }

.project_images .slider .slides.left{
    animation: left 35s linear  infinite;
}
.project_images .slider .slides.right{
    animation: right 35s linear  infinite;
}
.project_images .slider .slides:hover{
    animation-play-state: paused;

} 

@keyframes left {
    0%{
        left: 0%;
    }
    50%{
        left: -100%;
    } 
    100%{
       left: -200%;
    }   
}
@keyframes right {
    0%{
        left: -200%;
    } 
    50%{
        left: -100%;
    }
    100%{
       left: 0%;
    }   
}