.hero_container{
    position: relative;
    height: 90vh;
    flex-direction: column;
}

@media (min-width: 320px) and (max-width: 480px){
    .hero_container{
        height: 94vh;
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 0%;
    }

}