.hero_container{
    position: relative;
    height: 90vh;
    flex-direction: column;
}

@media (min-width: 320px) and (max-width: 480px){
    .hero_container{
        height: 85vh;
        padding-left: 0%;
        padding-right: 0%;
    }
}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767.99px){
    .hero_container{
        height: 100vh;
        padding-left: 0%;
        padding-right: 0%;
    }

}
