.services_container{
    background-color: var(--third-color);
    
    flex-direction: column;
}
@media (min-width: 320px) and (max-width: 480px){
    .services_container{
       height: 1600px;
    }
    
}
/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767.99px){
    .services_container{
        height: 1700px;
     }

}