.choose_us .title{
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.choose_us_grid{
    height: 60%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-gap: 5%;
}
.choose_us .box{
    height: 70%;

    display: flex;
    flex-direction: column;
} 
.choose_us .box.two{
    background-color: var(--third-color);
} 
.choose_us .box .first_div{
    height:  30%;
    text-align: center;
  
} 
.choose_us .box .first_div .img{
    height: 50%;
    width: 30%;
    
    margin-top: 10px;    
    color: var(--primary-color);
    object-fit: cover;
} 
.choose_us .box .first_div h3{
    margin-top: 15px;
    font-weight: bold;
    text-transform: capitalize;
} 
.choose_us .box .second_div{
    flex: 1;
    text-align: center;

    display: flex;
    align-items: flex-start;
} 
.choose_us .box .second_div p{
    padding-inline: 100px;
} 
@media (min-width: 320px) and (max-width: 480px){
    .choose_us .title{
        height: 50px;
      
    }
    .choose_us_grid{
        height: 90%;
    
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0%;
    }
    .choose_us .box{
        height: 100%;
    
        justify-content: flex-start;
    }
    .choose_us .box .first_div h3{
        margin-top: 1px;
        font-size: .8rem;
    } 
    .choose_us .box .second_div{
        margin-top: 5px;
        align-items: flex-start;
    } 


}