.title_stroke{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
}
.title_stroke .stroke{
    display: block;
    width: 20%;
    height: 5px;
    border: 0;
    border-radius: 10px;
}
.title_stroke h2{
    width: auto;
    font-weight: 700;
    text-transform: capitalize;
}



@media (min-width: 481px) and (max-width: 767.99px){
    
}

@media (min-width: 320px) and (max-width: 480px){
    .title_stroke h2{
        width: auto;
        font-weight: 700;
        text-transform: capitalize;
    }
   
}