.testimonie_container .slider{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

   display: flex;
   justify-content: center;
   align-items: center;


}
.testimonie_container .slider .slides_wrap{
    width: 50%;
    height: 80%;
    overflow: hidden;
}
.testimonie_container .slider .slides_wrap .slides{
    position: relative;
    width: 200%;
    height: 100%;
    left: .5%;

    display: flex;
    grid-column-gap: 1.5%;

}
.testimonie_container .slider .slides_wrap .slides .slide{
    width: 50%;
    border-bottom: 2px solid rgb(243, 239, 239);
    border-right: 2px solid rgb(243, 239, 239);
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px  rgb(3, 3, 244));
    background-color: white;

    display: flex;
    flex-direction: column;
}
.testimonie_container .slider .slides_wrap .slides .slide .first_div{
    height: 50%;
    padding-top: 20px;
    text-align: center;
}
.testimonie_container .slider .slides_wrap .slides .slide > div img{
    height: 80%;
    width: 40%;
    border: 0;
    border-radius: 50%;
    object-fit: cover;
  }
  .testimonie_container .slider .slides_wrap .slides .slide > div h3{
    margin-top: 20px;
  }
.testimonie_container .slider .slides_wrap .slides .slide .second_div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonie_container .slider .slides_wrap .slides .slide .second_div p{
    width: 90%;
    height: 90%;
}
.testimonie_container .slider .navs{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    width: 25%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-column-gap: 40px;
}
.testimonie_container .slider .navs > div{
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonie_container .slider .navs > div img{
    height: 60%;
    object-fit: cover;

}
/*GLOBAL*/
@media (max-width: 767.99px){
    .testimonie_container .slider .slides_wrap{
        width: 90%;
        height: 65%;
    }

}

@media (min-width: 320px) and (max-width: 480px){
    .testimonie_container .slider .slides_wrap .slides .slide .first_div{
        height: 30%;
        padding-top: 5px;
    }
    .testimonie_container .slider .slides_wrap .slides .slide > div img{
        height: 60px;
        width: 60px;
      }
      .testimonie_container .slider .slides_wrap .slides .slide > div h3{
        margin-top: 2px;
      }
      .testimonie_container .slider .slides_wrap .slides .slide .second_div p{
        width: 90%;
        text-align: center;
    }
    .testimonie_container .slider .navs{
        bottom: 10%;
        height: 20px;

        align-items: flex-start;
        grid-column-gap: 10px;
    }
    .testimonie_container .slider .navs > div{
        width: 20px;
        height: 20px;
    }
    .testimonie_container .slider .navs > div img{
        height: 40%;
    
    }
    
}
/* low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767.99px){
    .testimonie_container .slider .slides_wrap .slides .slide .first_div{
        height: 30%;
        padding-top: 5px;
    }
    .testimonie_container .slider .slides_wrap .slides .slide > div img{
        height: 80px;
        width: 80px;
      }
      .testimonie_container .slider .slides_wrap .slides .slide > div h3{
        margin-top: 5px;
        font-size: .9rem;
      }
      .testimonie_container .slider .slides_wrap .slides .slide .second_div p{
        width: 90%;
        text-align: center;
        font-size: .8rem;
    }
    .testimonie_container .slider .navs{
        bottom: 10%;
        height: 20px;

        align-items: flex-start;
        grid-column-gap: 10px;
    }
    .testimonie_container .slider .navs > div{
        width: 30px;
        height: 30px;
    }
    .testimonie_container .slider .navs > div img{
        height: 50%;
    
    }


}