.header_social_icons{
    height: 100%;
    width: 100%;
    padding-right: 100px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column-gap: 10px;
}
.header_social_icons .img{
    height: 70%;
    color: darkblue;
    object-fit: cover;
}
/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767.99px){
    .header_social_icons{
        padding-right: 40px;

        grid-column-gap: 4px;
    }
    .header_social_icons .img{
        height: 60%;
    }

}