@import url("https://fonts.googleapis.com/css?family=Google+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&family=Volkhov:wght@400;700&display=swap");
@import url('./responsivelayout/index.css');

:root{
    --google-font: 'Google Sans';
    --poppins-font: 'Poppins';
    --volkhov-font: 'Volkhov';
    --primary-color: rgba(0, 130, 197, 1);
    --secondary-color: rgba(203, 20, 20, 1);
    --third-color: rgb(243, 239, 239);
    --fourth-color: #fff;
    ---text-color: #333333
}
html,
head{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: auto;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto; 
}
body.body{
    overflow-y: hidden;
}
body.body::-webkit-scrollbar {
     display: none;  
 }
header,
nav,
main,
footer{
    background-color: var(--fourth-color);
}
header,
main > section,
footer > section{
    padding: 0 10%;
}
h1, h2{
    font-family: var(--volkhov-font);
}
h3, 
a,
li{
    font-family: var(--google-font);
}
p{
    font-size: 16px;
    font-family: var(--poppins-font);
    color: var(---text-color);
}
a{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
button{
    cursor: pointer;
}
.button{
    display: block;
    text-align: center;
    color: #fff;
    width: auto;
    background-color: var(--secondary-color);
    border: 0;
    border-radius: 2px;
    filter: drop-shadow(.5px .5px .5px rgba(0, 0, 0, .5) );
    text-decoration: none;
}
.button:active{
    background-color: var(--primary-color);
    color: black;
}


/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 768px) and (max-width: 1024.9px){
    header,
    main > section,
    footer > section{
        padding: 0 5%;
    }

}
@media (min-width: 481px) and (max-width: 767.99px){
    header,
    main > section,
    footer > section{
        padding: 0 2.5%;
    }
    p{
        font-size: 14px;
    }
}

@media (min-width: 320px) and (max-width: 480px){
    header,
    main > section,
    footer > section{
        padding: 0 2.5%;
    }
    p{
        font-size: 14px;
    }
    
   
}
