.testimonie_container{
    flex-direction: column;
    background-color: var(--fourth-color);
}

@media (min-width: 320px) and (max-width: 480px){
    .testimonie_container{
       height: 500px;
    }
}
/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767.99px){
    .testimonie_container{
        height: 700px;
     }

}
