.project_images{
    background-color: #024665;

    flex-direction: column;
}

@media (min-width: 320px) and (max-width: 480px){
    .project_images{
        height: 600px;
        grid-gap: 5%;
    }
    

}